

.navbar-collapse {
	background-color: #3e474f
}
body {
	background-color:#edeff0;
	}

#itemsTable {
	margin-top: 20px;
	margin-bottom: 0;
}

#itemsTable > thead th {
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
}

#itemsTable td {
	border-left: 1px solid #ddd;
}

#itemsTable > tbody > tr:last-child > td {
	border-bottom: 1px solid #ddd;
}

#itemsTable > thead th:last-child, #itemsTable > tbody td:last-child {
	background-color:#edeff0;
	border-width: 0 0 0 1px !important;
	border-style: solid;
	border-color: #ddd;
}

#itemsTable > tfoot th {
	background-color:#edeff0
}

.spacer {
	margin-top: 40px;
}